{% include 'header.html' %}
{% include 'navigation.html' %}


<style>
th 
{
    font-family: monospace;
}

tr
{
    font-family: monospace;
}

td
{
    font-family: monospace;
}

</style>
   
<script>
function change(price, open_price)
{
    return (price - open_price).toFixed(2);
}


</script>


<div class="container-fluid">
    <div class="col-md-8">
        <table class="table table-hover table-condensed" width="10%">
            <tr>
                <th>Commodity</th>
                <th class="text-right">Price</th>
                <th class="text-right">Change</th>
                <th class="text-right">Date</th>
            </tr>

            {% for c in commodities %}
            {% if commodities[c] is not none %}
            
             <tr>
                <td><a href="http://finance.yahoo.com/quote/{{ commodities[c].ticker }}/news">{{ c | upper }}</td>
                <td class="text-right"> {{ commodities[c].price }} </td>
                <td class="text-right"><script>document.write(change({{ commodities[c].price }}, {{ '%0.2f' %  (commodities[c].open_price) }}));</script> </td>
                <td class="text-right"> {{ commodities[c].p_time.strftime('%B %d %Y') }} </td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>
    </div>
</div>
