{% include 'header.html' %}
{% include 'navigation.html' %}

{% set wti   = db.session.query(db.base.classes.prices).filter(db.base.classes.prices.ticker == 'CLQ16.NYM').first() %}
{% set brent = db.session.query(db.base.classes.prices).filter(db.base.classes.prices.ticker == 'BZU16.NYM').first() %}
{% set gold  = db.session.query(db.base.classes.prices).filter(db.base.classes.prices.ticker == 'YGQ16.NYB').first() %}
{% set us_dollar  = db.session.query(db.base.classes.prices).filter(db.base.classes.prices.ticker == 'DX-Y.NYB').first() %}

<style>
th 
{
    font-family: monospace;
}

tr
{
    font-family: monospace;
}

td
{
    font-family: monospace;
}

</style>
    

<div class="container-fluid">
    <div class="col-md-8">
        <table class="table table-hover table-condensed" width="10%">
            <tr>
                <th>Commodity</th>
                <th class="text-right">Price</th>
                <th class="text-right">Change</th>
                <th class="text-right">Date</th>
            </tr>
            <tr>
                <td><a href="https://finance.yahoo.com/quote/CLQ16.NYM/news">WTI</td>
                <td class="text-right"> {{ wti.price }} </td>
                <td class="text-right"> {{ '%0.2f' %  (wti.change) }} </td>
                <td class="text-right"> {{ wti.p_time.strftime('%B %d %Y') }} </td>
            </tr>

            <tr>
                <td><a href="https://finance.yahoo.com/quote/BZU16.NYM/news">Brent</td>
                <td class="text-right"> {{ brent.price }} </td>
                <td class="text-right"> {{ '%0.2f' %  (brent.change) }} </td>
                <td class="text-right"> {{ brent.p_time.strftime('%B %d %Y') }} </td>
            </tr>

            <tr>
                <td><a href="https://finance.yahoo.com/quote/DX-Y.NYB/news">US dollar</td>
                <td class="text-right">{{ us_dollar.price }}</td>
                <td class="text-right"> {{ '%0.2f' %  (us_dollar.change) }} </td>
                <td class="text-right">{{ us_dollar.p_time.strftime('%B %d %Y') }} </td>
            </tr>


            <tr>
                <td><a href="https://finance.yahoo.com/quote/YGQ16.NYB/news">Gold</td>
                <td class="text-right">{{ gold.price }}</td>
                <td class="text-right"> {{ '%0.2f' %  (gold.change) }} </td>
                <td class="text-right">{{ gold.p_time.strftime('%B %d %Y') }} </td>
            </tr>
        </table>
    </div>
</div>
