{% include 'header.html' %}
{% include 'navigation.html' %}

<style>
html, body 
{
    height: 100%;
    margin: 0;
    padding: 1;
}
#map 
{
    height: 70%;
}
    
</style>


    <script>

    var styles = [
    {
        featureType: "road",
        
        stylers: [ { visibility: "off" } ]
    }]


      var map;
      function initMap() 
      { 
          map = new google.maps.Map(document.getElementById('map'), 
                  { 
                      center: {lat: 14.820, lng: -25.176}, 
                      zoom: 3 
                  }); 

          map.setOptions({styles:styles});
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ config['js_api_key'] }}&callback=initMap" async defer></script>



<div class="container-fluid" id="map"></div>
