{% include 'header.html' %}
{% include 'navigation.html' %}

{% set eia_imports = db.session.query(db.base.classes.eia_imports).order_by(db.base.classes.eia_imports.date.desc()).limit(12) %}

<div class="container-fluid">
    <h4>Imports of all grades of crude oil from World to Total U.S. (US), Monthly</h4>

    <div class="col-md-8">
        <table class="table table-hover table-condensed" width="10%">
            <tr>
                <th>Date</th>
                <th>Units</th>
            </tr>
                {% for row in eia_imports %}
                <tr>
                    <td>{{ row.date.strftime('%B %Y') }}</td>
                    <td>{{ row.value }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>


